// Colors:
$signal-black: #252525;
$middle-purple: #8c83da;
$manatee: #92939f;
$lavender: #dfddf5;
$white: #ffff;
$white-smoke: #f5f5f5;

$text-color: $signal-black;
$white-text-color: $white;
// layout:
$inputHeight: 40px;
$inputMinWidth: 250px;



// border-radius:
$border-radius-tiny: 1px;
$border-radius-small: 3px;
$border-radius-medium: 4px;
// fonts:
$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-middle: 14px;
$font-size-large: 20px;